In [2]:
import pandas as pd
import requests

happiness_raw = pd.read_csv("https://ourworldindata.org/grapher/share-of-people-who-say-they-are-happy.csv?v=1&csvType=full&useColumnShortNames=true", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

happiness = happiness_raw.drop(columns='821407-annotations')

happiness

       Entity Code  Year     happy
0     Albania  ALB  1998  33.43343
1     Albania  ALB  2004  58.80000
2     Albania  ALB  2010  66.85212
3     Albania  ALB  2022  73.92710
4     Algeria  DZA  2004  80.73323
..        ...  ...   ...       ...
418     Yemen  YEM  2014  72.10000
419    Zambia  ZMB  2010  51.98119
420  Zimbabwe  ZWE  2004  55.25476
421  Zimbabwe  ZWE  2014  78.82929
422  Zimbabwe  ZWE  2022  51.93416

[423 rows x 4 columns]

In [5]:
# Fetch the data.
gdppercap_raw = pd.read_excel("./data/API_NY.GDP.PCAP.CD_DS2_en_excel_v2_3031.xls", skiprows=3)

gdppercap_raw

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,27458.225331,27441.529662,28440.051964,30082.127645,31096.205074,22855.932320,27200.061079,30559.533535,33984.790620,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,186.132432,186.947182,197.408105,225.447007,209.005786,226.883067,...,1479.564123,1329.777824,1520.171298,1538.924188,1493.780445,1344.080962,1522.590088,1628.024526,1659.515290,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,565.569730,522.082216,525.469771,491.337221,496.602504,510.787063,356.496214,357.261153,415.707417,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,121.938353,127.452629,133.825452,139.006714,148.547736,155.563837,...,1845.767804,1616.843198,1560.162999,1703.896392,1783.654365,1664.249176,1747.840549,1777.235012,1568.724310,NaN
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3213.902611,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2308.159767,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3520.628507,3759.449591,4009.317993,4384.186241,4415.997161,4310.888247,5270.426702,5290.947472,5960.158205,NaN
262,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1362.173794,975.359407,811.165964,633.887206,623.376165,559.564673,522.173513,615.702079,477.409029,NaN
263,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,532.147504,545.657512,563.423009,604.536855,645.873376,684.621228,...,6112.273825,5651.205852,6618.335083,6914.178032,6533.711210,5580.603831,6843.399419,6523.410978,6022.542542,NaN
264,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,221.559849,209.693206,202.281031,203.219451,229.979246,287.425476,...,1295.877887,1239.085279,1483.465773,1463.899979,1258.986198,951.644317,1127.160779,1447.123101,1330.727806,NaN
265,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,276.419762,279.016467,275.545586,277.005679,281.744516,294.145335,...,1386.422847,1407.415364,3448.082537,2271.853335,1684.027904,1730.413489,1724.387731,2040.552459,2156.034004,NaN

In [36]:
years_drop = [year for year in range(1960, 1983)]
years_drop.append(2022)
years_drop.append(2023)

gdppercap = (
    gdppercap_raw
    .rename(columns={'ny_gdp_pcap_pp_kd' : 'gdppercap'})
)

gdppercap = gdppercap[~gdppercap['Year'].isin(years_drop)]

gdppercap
#gdppercap.query('Entity.str.contains("Zimbabwe") and Year == 2004')

           Entity Code  Year  gdppercap
0     Afghanistan  AFG  2000  1617.8264
1     Afghanistan  AFG  2001  1454.1108
2     Afghanistan  AFG  2002  1774.3087
3     Afghanistan  AFG  2003  1815.9282
4     Afghanistan  AFG  2004  1776.9182
...           ...  ...   ...        ...
7056     Zimbabwe  ZWE  2017  3453.5098
7057     Zimbabwe  ZWE  2018  3572.9836
7058     Zimbabwe  ZWE  2019  3294.8062
7059     Zimbabwe  ZWE  2020  2987.2698
7060     Zimbabwe  ZWE  2021  3184.7854

[6645 rows x 4 columns]

In [6]:
#gdppercap = pd.read_excel('./data/API_NY.GDP.PCAP.CD_DS2_en_excel_v2_3031.xls', skiprows=3)
#gdppercap[['Country Name', '2004']]

gdppercap_raw.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2020              float64
2021              float64
2022              float64
2023              float64
2024              float64
Length: 69, dtype: object

In [14]:
#Version World Bank

years_drop = [str(year) for year in range(1960, 1983)] + ['2023', '2024']
columns_drop = ['Indicator Name', 'Indicator Code']

gdppercap_dropped = (
    gdppercap_raw
    .drop(columns=columns_drop)
    .drop(columns=years_drop)
)
gdppercap_dropped
#years_drop

,Country Name,Country Code,1983,1984,1985,1986,1987,1988,1989,1990,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,6767.559229,8244.045660,10056.261393,11507.217151,12187.536361,...,25813.576727,26129.839062,27458.225331,27441.529662,28440.051964,30082.127645,31096.205074,22855.932320,27200.061079,30559.533535
1,Africa Eastern and Southern,AFE,732.609888,650.582314,554.455164,578.620672,665.138972,704.486574,728.570383,822.817638,...,1673.140476,1656.107642,1479.564123,1329.777824,1520.171298,1538.924188,1493.780445,1344.080962,1522.590088,1628.024526
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,637.087099,625.054942,565.569730,522.082216,525.469771,491.337221,496.602504,510.787063,356.496214,357.261153
3,Africa Western and Central,AFW,872.831673,737.675010,753.799755,581.390713,581.523802,560.380582,509.326734,590.321438,...,2113.316986,2204.995700,1845.767804,1616.843198,1560.162999,1703.896392,1783.654365,1664.249176,1747.840549,1777.235012
4,Angola,AGO,636.832811,650.491094,772.468833,697.526602,770.101140,807.439628,907.747893,965.866840,...,5057.747878,5005.999741,3213.902611,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3704.558728,3902.494244,3520.628507,3759.449591,4009.317993,4384.186241,4415.997161,4310.888247,5270.426702,5290.947472
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,910.422466,...,1378.750030,1430.164210,1362.173794,975.359407,811.165964,633.887206,623.376165,559.564673,522.173513,615.702079
263,South Africa,ZAF,2938.489802,2504.077368,1839.484191,2027.466204,2586.274233,2702.055048,2726.709807,3093.489204,...,7331.654674,6856.731371,6112.273825,5651.205852,6618.335083,6914.178032,6533.711210,5580.603831,6843.399419,6523.410978
264,Zambia,ZMB,520.455834,413.269974,332.173737,238.233796,314.999603,504.486020,526.361769,422.336299,...,1820.718548,1707.485731,1295.877887,1239.085279,1483.465773,1463.899979,1258.986198,951.644317,1127.160779,1447.123101
265,Zimbabwe,ZWE,958.715693,756.972530,648.944475,692.175865,726.060698,815.476098,839.989091,866.486457,...,1362.300668,1372.212781,1386.422847,1407.415364,3448.082537,2271.853335,1684.027904,1730.413489,1724.387731,2040.552459

In [15]:
gdppercap_filtered = (
    gdppercap_dropped
        .melt(id_vars=['Country Name', 'Country Code'], 
        var_name='Year', 
        value_name='GDP per capita')
)

gdppercap_filtered['Year'] = gdppercap_filtered['Year'].astype(int)

gdppercap_filtered

                      Country Name Country Code  Year  GDP per capita
0                            Aruba          ABW  1983             NaN
1      Africa Eastern and Southern          AFE  1983      732.609888
2                      Afghanistan          AFG  1983             NaN
3       Africa Western and Central          AFW  1983      872.831673
4                           Angola          AGO  1983      636.832811
...                            ...          ...   ...             ...
10635                       Kosovo          XKX  2022     5290.947472
10636                  Yemen, Rep.          YEM  2022      615.702079
10637                 South Africa          ZAF  2022     6523.410978
10638                       Zambia          ZMB  2022     1447.123101
10639                     Zimbabwe          ZWE  2022     2040.552459

[10640 rows x 4 columns]

In [25]:
onlyone = happiness["Entity"].value_counts()

country_onlyone = onlyone[onlyone == 1].index.tolist()

gdppercap_final = gdppercap_filtered[~gdppercap_filtered['Country Name'].isin(country_onlyone)]

gdppercap_final

print(len(country_onlyone))

25

In [6]:
gdppercap_filtered.dtypes

Country Name       object
Country Code       object
Year                int64
GDP per capita    float64
dtype: object

In [7]:
gpdpercap_vs_happiness = (
    happiness.merge(gdppercap_filtered,
                    left_on=['Code', 'Year'],
                    right_on=['Country Code', 'Year']
                    )
)

gpdpercap_vs_happiness

       Entity Code  Year     happy Country Name Country Code  GDP per capita
0     Albania  ALB  1998  33.43343      Albania          ALB      813.789397
1     Albania  ALB  2004  58.80000      Albania          ALB     2373.581292
2     Albania  ALB  2010  66.85212      Albania          ALB     4094.349686
3     Albania  ALB  2022  73.92710      Albania          ALB     6846.426143
4     Algeria  DZA  2004  80.73323      Algeria          DZA     2816.993850
..        ...  ...   ...       ...          ...          ...             ...
407     Yemen  YEM  2014  72.10000  Yemen, Rep.          YEM     1430.164210
408    Zambia  ZMB  2010  51.98119       Zambia          ZMB     1451.106160
409  Zimbabwe  ZWE  2004  55.25476     Zimbabwe          ZWE      469.484654
410  Zimbabwe  ZWE  2014  78.82929     Zimbabwe          ZWE     1372.212781
411  Zimbabwe  ZWE  2022  51.93416     Zimbabwe          ZWE     2040.552459

[412 rows x 7 columns]

In [ ]:
#trends[['S003', 'S020','A008']].query('S003.str.contains("Indonesia") \
#    and S020.str.contains("2018")').value_counts()

#trends[['S003', 'S020','A008']].query('S003.str.contains("Indonesia") \
#    and S020.str.contains("2018") \
#    and A008.str.contains("Quite happy")').value_counts()
#trends.query('S003.str.contains("Albania") and S020.str.contains("2002")')